body {
  margin: 0%;
  text-align: center;
}
.card {
  width: 18rem;
}
.card-deck {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
h3 {
  margin: 20px;
}
h1 {
  margin: 20px;
}
.navi {
  margin-bottom: 5%;
}
.col {
  border: 2px solid blue;
  margin: 5px;
}
